#header{
  
  position:relative;
  width:100%;
  background: $knc_header_background;
  margin:0;
  
  .header{
    position:relative;
    padding-top:30px;
    padding-bottom:30px;

    @media screen and (max-width: $knc_tablet) {
      padding-bottom: 75px;
      padding-left: 10px;
    }
  }

  .logo{
    width: 131px;
    height: 100px; 
    margin:0 auto;
    
    @media screen and (max-width: $knc_tablet) {
        width : 65.5px;
        height: 50px;
        float:left;
    }  
   
    img{
      width:100%;
      height:auto; 
    }    
  }
  
  .button_group {
    
    @include sans-font;
    
    font-weight: 700;
    font-size:0.7em;
    text-align:center;
    position: absolute;
    top: 11px;
    right: 0;
    width:170px;
    
    text-transform: uppercase;
    
    a{
      @extend .f-span-6;
      letter-spacing:1px;
      margin:5px 0;
      background: #fbf7f4;
      text-decoration:none;
    }
  }
}

#nav-bar{
  height:44px;
  width:100%;
  background:white;
  position:relative;
  @include box-shadow(0 3px 8px rgba(black,0.05));
}

#main{}

#footer{}