#header{
  
  position:relative;
  width:100%;
  background: $header_background;
  margin:0;
  .header{
    padding-top:20px;
    padding-bottom:20px;
    @media screen and (max-width: $tablet) {
      padding-bottom: 65px;
      padding-left: 10px;
    }
  }

}



#nav-bar{
  height:44px;
  width:100%;
  background:white;
  position:relative;
  @include box-shadow(0 3px 8px rgba(black,0.05));
}