
.separator {
  width: 40px;
  height: 5px;
  background: $knc_marigold;
  margin: 2em auto;
}

// TABS PANEL
.tabs_panel{
   
  .tabs{
    @include clearfix;
    @include sans-font;
    font-weight:900;
    text-transform:uppercase;
    font-size:0.75em;

    a{      
      display:block;
      float:left;
      margin-right:10px;
      padding:5px 10px;
      text-decoration:none;
      @include transition((background, color) 0.5s);
      background:darken($white,3%); //$knc_bright_gray;
      @include box-shadow(0 -2px 4px rgba(black,0.05) inset);
      &:hover{
          @include transition((background, color) 0.5s);
          background:$white;

      }
      &.active{
        
        background:$white;
        @include box-shadow(none);
      }

      span{
          margin-right:10px;     
      }


      
      @media screen and (max-width: $tablet){
        @extend %tablet-f-span-1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span{}
        i{display:none;}
        
      }

      @media screen and (max-width: $iphone_landscape){
        width:auto;
        span{display:none;}
        i{
          display:block;
          font-size: 1.6em;
          padding: 3px;
        }
      }
    }



  }
  
  .tabs_content{
    padding-top:1em;
    padding-bottom:1em;
    .content{
      display:none;
      &.active{
        display:block;
      }
    }
  }

  .info-bar{
    background:$block_gray;
    padding:5px 10px;

  }
}

/* FULLCALENDAR */
@import "externals/fullcalendar";

/* MODAL */
.modal {
  padding:1em;
  background-color: $knc_bright_gray;
  //background: url(#{$asset_path}/stamp.png);
  //background-position: -150px 150%;
  //background-repeat: no-repeat;
  border:5px solid $knc_marigold;
  
  h3{
    padding-bottom:0.5em;
    border-bottom: 1px solid $white;

  }
  p {
     font-size:0.9em;
     line-height:1.4em; 
  }
  

}