
.separator {
  width: 40px;
  height: 5px;
  background: $knc_marigold;
  margin: 2em auto;
}

// TABS PANEL
.tabs_panel{
   
  .tabs{
    @include clearfix;
    @include sans-font;
    font-weight:900;
    text-transform:uppercase;
    font-size:0.75em;

    a{      
      display:block;
      float:left;
      margin-right:10px;
      padding:5px 10px;
      text-decoration:none;
      @include transition((background, color) 0.5s);
      background:darken($white,3%); //$knc_bright_gray;
      @include box-shadow(0 -2px 4px rgba(black,0.05) inset);
      &:hover{
          @include transition((background, color) 0.5s);
          background:$white;

      }
      &.active{
        
        background:$white;
        @include box-shadow(none);
      }

      span{
          margin-right:10px;     
      }


      
      @media screen and (max-width: $tablet){
        @extend %tablet-f-span-1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span{}
        i{display:none;}
        
      }

      @media screen and (max-width: $iphone_landscape){
        width:auto;
        span{display:none;}
        i{
          display:block;
          font-size: 1.6em;
          padding: 3px;
        }
      }
    }



  }
  
  .tabs_content{
    padding-top:1em;
    padding-bottom:1em;
    .content{
      display:none;
      &.active{
        display:block;
      }
    }
  }

  .info-bar{
    background:$block_gray;
    padding:5px 10px;

  }
}

/* FULLCALENDAR */
@import "externals/fullcalendar";
/* DATE PICKER */
@import "externals/jquery-ui-knc-theme/_jquery-ui-1.10.3.custom";

/* MODAL */
.modal {
  padding:1em;
  background-color: $knc_bright_gray;
  border:5px solid $knc_marigold;
  
  h3{
    padding-bottom:0.5em;
    border-bottom: 1px solid $white;

  }
  p {
     font-size:0.9em;
     line-height:1.4em; 
  }
}
/* INFO CARD */
.info-card{
  //background: $knc_medium_gray;
  @extend %f-span-6;
  @include sans-font;
  padding:0;
  //border-radius:10px;
  overflow:hidden;
  text-overflow:ellipsis;
  
  display:table;
  



  .row{
    display:table-row;
    @extend %f-span-6;
    border-bottom:1px solid white;
    padding:0;
  }
  .key{
    display:table-cell;
    vertical-align:middle;
//  text-align:right;
    background: $knc_medium_gray;
    @extend %span-2;
    @extend %tablet-f-span-2;
    @extend %phone-span-2;
    text-transform: uppercase;
    padding: 0.9em 1em;
    font-size: 0.85em;
    line-height: 34px;
    max-height: 56px;
    margin-right:0;


//    @media screen and (max-width: $iphone_landscape){
//        text-align:left;
//    }

  }
  .value{
    display:table-cell;
    vertical-align:middle;
    background: $knc_light_gray;
    @extend %f-span-4;
    @extend %tablet-f-span-4;
    @extend %phone-span-2;
    padding:1em 0 1em 1em;

  }

}
