.knc_button {

  font-family: $knc_sansFontFamily;
  font-size: 0.9em;
  font-weight: 900;
  line-height: $knc_fieldHeight;
  height: $knc_fieldHeight;
  margin-top:0.2em;
  margin-bottom:0.2em;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  width:100% default;
  letter-spacing: 2px;
  text-decoration: none !important;
  color: white !important;
  
  @include knc_button($knc_marigold , #fff);

  &.inverted{
    @include knc_button($knc_dark_gray , #fff);
  }
  &.green{
    @include knc_button($knc_green, #fff);
  }
  &.red{
    @include knc_button($knc_red, #fff);
  }
  &.short{
    height: $knc_fieldHeight - 10;
    line-height: $knc_fieldHeight - 10;

  }
  
}

form {

  fieldset {
    clear: both;
  

    legend {
      @include sans-font;
      
      text-transform: uppercase;
      width:100%;
      font-weight: 700;
      font-size: 1.1em;
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: $knc_light_border;

    }

    button, input[type="button"],input[type="submit"]{
      padding:0;

    }

    label {
      display: block;
      font-weight: 700;
      letter-spacing: 0.02em;
      @include sans-font;
      
      font-size: 0.75em;
      text-transform: uppercase;
      padding:18px 10px 19px 0;
      overflow:hidden;
      line-height:1em;
      text-overflow:ellipsis;
      letter-spacing:1px;
      
      &.right {
        text-align: right;

      }
      &.left {
        text-align: left;
      }
      @media screen and (max-width: $knc_tablet)  {
        text-align: left;
        padding-bottom: 0;  
        &.right{
          text-align: left;

        }
      }
      &.checkbox { display: inline-block; }
      &.error { @include serif-font; font-size: 0.9em; font-weight: 500; color: #ff6363; text-transform: none; letter-spacing: 0; }
    }

    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=number],
    input[type=color],
    input[type=email],
    input[type=password],
    textarea {
      border: $knc_input_border;
      box-shadow: none;
      border-radius: 4px;

      .transparent  & {
        border: $knc_input_border_over_transparent;
      }


      &:focus{
        outline-color: transparent;
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
      }

    }

    input[type="text"], input[type="email"], input[type="password"], textarea, select {
      background: $knc_white;
      //width:100%;
      padding: 8px;
      margin-top: 0.5em;

      @include placeholder(rgba($knc_gray,0.5));
      
      &.error { 
        @include transition(background 0.5s);
        border-color: $knc_red;
        background-color: $knc_light_red;
        @include placeholder(rgba($knc_red,0.8));
      }
      &.percentage { 
        background: #fff asset-url("percentage.png", image) no-repeat 95% 50%; width: 50px; 
        
      }
      &.money { background: #fff asset-url("icons/dollar-sign.png", image) no-repeat 5px 50%; width: 50px; padding-left: 20px; }
      &:focus { 
        @include transition(background 0.5s);
        @include placeholder(rgba($knc_gray,0));
        background: $knc_bright_gray; 
        border-color: $knc_gray; 
        
      }

    }

    input[readonly="readonly"] {
      background: #eaeaea;
      color: #777;
    }

    textarea { height: 60px; }
    // applies only when no js
    select { 
      line-height: 1em;
      height: $knc_fieldHeight - 10;
      margin-top: 6px;
      border: $knc_input_border;
      padding-top:5px;
      .transparent & {
        border: $knc_input_border_over_transparent;
      }
    }
    
    .note {
      float: left;
      font-size: 0.8em;
      color: $knc_gray;
      line-height: 1.4em;
      padding: 5px;
    }

    .checkbox {
        label { display: inline; }
    }

    .chzn-container { margin-top: 0.4em; }

    .chzn-container-active .chzn-single { border-color: $knc_link_color; }

    .field_with_errors {
      input[type="text"], input[type="email"], input[type="password"], textarea {
        background-color: $knc_gray;
        border-color: $knc_dark_red;
      }
      span.error { margin-left: 0.5em; color: $knc_dark_red; }
    }
  }

  // TODO: NEEDS TESTING AND STYLING
  #error-explanation {
    background-color: #fddfde;
    border: 1px solid #fbc7c6;
    color: #DA6666;
    //text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    padding: 14px;
    margin-bottom: 2em;
    @include border-radius;

    ul {
      list-style-type: disc;
      margin: 0.5em 0 0 2em;
    }
  }

  ///////////////////////////////////
  // PRETTY-CHECKABLE
  .prettycheckbox,
  .prettyradio {
    display: inline-block;
    padding:0;
    margin:0;
  }

  .prettycheckbox a,
  .prettyradio a{
    width: 30px;
    height: 30px;
    background: url($prettycheckable_path) top left no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    cursor: pointer;
    margin: 0 5px 0 -9px;
  }


  .prettyradio a {background-position: 0 -120px;}

  .prettycheckbox a:focus,
  .prettyradio a:focus {outline: 0 none;}

  .prettycheckbox a:focus{background-position: 0 -30px;}
  .prettyradio a:focus{background-position: 0 -150px;}

  .prettycheckbox a.checked{ background-position: 0 -60px; }
  .prettyradio a.checked { background-position: 0 -180px; }

  .prettycheckbox a.checked:focus{ background-position: 0 -90px; }
  .prettyradio a.checked:focus { background-position: 0 -210px; }

  .prettycheckbox label,
  .prettyradio label {
    display: block;
    float: left;
    cursor: pointer;
    font-size: 0.75em;
    line-height: 1.4em;
    padding-top: 8px;
    

  }
  .serif 
  {
    .prettycheckbox { 
      label{
          @include serif-font;
          text-transform:none;
          letter-spacing:0;
      }
    } 
  }

  .prettycheckbox.disabled a,
  .prettyradio.disabled a,
  .prettycheckbox.disabled label,
  .prettyradio.disabled label{
    cursor:not-allowed;
  }

  .prettycheckbox.disabled a {
    background-position: 0 -240px;
  }

  .prettyradio.disabled a {
    background-position: 0 -270px;
  }


}

// input with icon
.input-append{

  position:relative;
  i{
     position: absolute;
     top: 9px;
     right: 4px;
     background: $knc_medium_gray;
     width: 30px;
     height: 30px;
     line-height: 29px;
     
     @media screen and (max-width: $knc_tablet) {
       top:9px;
      
     }
  }
  
}
// position adjustments
.f-span-3.input-append, .tablet-f-span-3.input-append {
      
      padding-left:0;
      
      i{
        right:9px;
      }
      
      &:last-of-type{
        padding-right:0px;
        i{
          right:4px;

        }
      }

}

///////////////////////////////////
// DROP Kick
@import "externals/dropkick";

.ui-datepicker { @include serif-font; }

