// HORIZONTAL GRID /////////////////////

.fluid-full{
  width:100%;
}

.knc_container {
  overflow:hidden;
  width:        100%;
  max-width: $knc_full_width;
  margin: 0 auto;
}

// a block of content inside the .container
.knc_block {
  width:        100%;
  padding-left: $knc_container_padding_lr;
  padding-right: $knc_container_padding_lr;
  margin: 0.5em auto;
  clear:both;
  @include clearfix;
}

// GENERATED GRIDS
@include knc_fixedGrid(span, 12);
@include knc_fluidGrid(f-span, 6, 10px);
@media screen and (max-width: $knc_tablet) {
  .span-6, .span-7, .span-8, .span-9, .span-10, .span-11  {
    max-width:100%;
  }
  .f-span-4, .f-span-5, .f-span-6, {
    width:100%;
  }
  .knc_block {
    padding-left:25px;
    padding-right:25px;
  }
  @include knc_fixedGrid(span, 6, $knc_tablet);
  @include knc_fixedGrid(tablet-span, 6, $knc_tablet);
  @include knc_fluidGrid(f-span, 3);
  @include knc_fluidGrid(tablet-f-span, 6);
}


@media screen and (max-width: $knc_iphone) {
   .knc_block {
     padding-left:10px;
     padding-right:10px;
   }

  [class*='span-'], [class*='span-'].last{
        margin-right: 0;
        max-width:    100%;
  }
  .f-span-3 {
    width:100%;
  }
  @include knc_fixedGrid(span, 2, $knc_iphone, 10px);
  @include knc_fixedGrid(phone-span, 2, $knc_iphone, 10px, 5px);
  @include knc_fluidGrid(f-span, 2);
  @include knc_fluidGrid(phone-f-span, 2);
}


// VERTICAL GRID /////////////////////
 .knc_section{
  padding-top:1em;
  padding-bottom:1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.clear{
  margin: 0.5em auto;
  clear:both;
  @include clearfix;
}
