// CONFIGURATION
$asset_path: "../images";
$prettycheckable_path: "../images/prettyCheckable-orange.png";

/*
// Deprecated //////////////////////
// BRAND
$cream: #F3EEE5;
$marigold: #FBC90D;
$gray: #766F69;
// OTHER

$red: #e45560;
$light_green: #eeffde;
$blue: #244276;
$light_blue: #deeaff;
$light_yellow: #fffedb;
$lightGray: #efefef;
*/
$white:           #fff;
$green:           #7db14c;
$red:             #e45560;
$dark_red:        darken($red,20%);
$light_red:       #ffebeb;
$knc_cream:       #F3EEE5;
$knc_marigold:    #FBC90D;
$knc_bright_gray: #f8f8f8;
$knc_light_gray:  #EFEEEC;
$knc_gray:        #766F69;
$knc_dark_gray:   #4E4A47;

$header_background:#f4f0e7; //#f3f2f0;
$background_color: #efeeec;
$text_color: #4e4a47;
$link_color: $text_color;
$border_color: #e0dfdc;
$hrBorder: rgba( #ddd, 0.5);


// borders
$input_border:                  4px $knc_light_gray solid;
$input_border_over_transparent: 4px darken($knc_light_gray,5%) solid;

$light_border: 1px solid $knc_light_gray;

//$darkBorder: 1px solid $lightGray;

// Media Queries size:
$iphone: 480px;
$iphone_landscape: 480px;
$tablet: 720px;
$small_screen:920px;

// Form
$fieldHeight: 44px;

// Generic Layout
$horizontalComponentOffset:1em;

*{
  @include box-sizing(border-box);
}