// CONFIGURATION
$asset_path: "../images";
$prettycheckable_path: "../images/prettyCheckable-orange.png";

$knc_white:           #fff;
$knc_green:           #7db14c;
$knc_red:             #e45560;
$knc_dark_red:        darken($knc_red,20%);
$knc_light_red:       #ffebeb;
$knc_cream:       #F3EEE5;
$knc_marigold:    #FBC90D;
$knc_bright_gray: #f8f8f8;
$knc_light_gray:  #EFEEEC;
$knc_gray:        #766F69;
$knc_dark_gray:   #4E4A47;
$knc_medium_gray: darken($knc_light_gray,5%);

$knc_block_gray:      #e5e5e5;

$knc_header_background:#f4f0e7; //#f3f2f0;
$knc_background_color: #efeeec;
$knc_text_color: #4e4a47;
$knc_link_color: $knc_text_color;
$knc_border_color: #e0dfdc;
$knc_hrBorder: rgba( #ddd, 0.5);


// borders
$knc_input_border:                  4px $knc_light_gray solid;
$knc_input_border_over_transparent: 4px $knc_medium_gray solid;
$knc_light_border: 1px solid $knc_light_gray;

//$darkBorder: 1px solid $lightGray;

// Media Queries size:
$knc_iphone: 480px;
$knc_iphone_landscape: 480px;
$knc_tablet: 720px;
$knc_small_screen:920px;

// TYPOGRAPHY
$knc_baseFontSize:15px;
$knc_baseEm:1em;
$knc_baseLineHeight:24px;
$knc_sansFontFamily:  'brandon-grotesque', 'Helvetica Neue', Arial, sans-serif;
$knc_serifFontFamily: 'adobe-caslon-pro', Georgia, serif;
$knc_headingsFontFamily: $knc_sansFontFamily;
$knc_headingsFontWeight: bold;
@include establish-baseline($knc_baseFontSize);

// Form
$knc_fieldHeight: 44px;

// Generic Layout
$knc_horizontalComponentOffset:1em;


// GRID SYSTEM VARS
$knc_full_width: $knc_small_screen;
$knc_container_padding_lr: 40px;
$knc_columns: 12;
$knc_column_margin_r: 10px;
////////////////////////
*{
  @include box-sizing(border-box);

}