// COMPASS IMPORTS
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/typography/vertical_rhythm";

// DEV ONLY LOCAL FONTS
@include font-face("brandon-grotesque", font-files("../../fonts/Brandon_bld.woff","../../fonts/Brandon_bld.ttf","../../fonts/Brandon_bld.svg" ), "../../fonts/Brandon_bld.eot", 700 );
@include font-face("brandon-grotesque", font-files("../../fonts/Brandon_thin.woff","../../fonts/Brandon_thin.ttf","../../fonts/Brandon_thin.svg" ), "../../fonts/Brandon_thin.eot", 200 );
@include font-face("adobe-caslon-pro", font-files("../../fonts/caslon540-webfont.woff","../../fonts/caslon540-webfont.ttf","../../fonts/caslon540-webfont.svg" ), "../../fonts/caslon540-webfont.eot" );
////////////////////////////////////////////////////

// PARTIALS IMPORTS
@import "vars";
@import "mixins";
/* GRID */
@import "grid";
/* TYPOGRAPHY */
@import "typography";
/* COLORS */
@import "colors";
/* ELEMENTS */
@import "elements";
/* FORMS */
@import "forms";
/* UTILITIES */
@import "utilities";


// STYLE GUIDE ONLY - REMOVE FROM PRODUCTION:
.swatch{
  width:50px;
  padding: $baseLineHeight 0;
  border-radius:50%;
  margin:1em auto;

}
#ui-switch{
  position:fixed;
  right:10px;
  top:10px;
  padding:10px;
  background: rgba(#efefef,0.5);
  a {
    display:block;
    float:right;
    clear:both;
  }
}