/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
  font-family: 'helvetica', arial, sans-serif;
  background: $knc_white;
  border-radius: 4px;
  height: $knc_fieldHeight - 8;
  margin-top:5px;
  font-size:0.8em;
  width:100%;
}
  .dk_container:focus {
    outline: 0;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url('#{$asset_path}/dk_arrows.png');
  background-repeat: no-repeat;
  background-position: 90% center;

  color: rgba($knc_gray,0.5);
  padding: 7px 45px 7px 10px;
  border-radius: 4px;
  border: $knc_input_border;
  height: $knc_fieldHeight - 8;
  line-height: 13px;
  .transparent &{
    border: $knc_input_border_over_transparent;
  }
}
  .dk_toggle:hover {
    border-color: #8c8c8c;
  }
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
    //border-color: #40b5e2;
  }
  .dk_focus .dk_toggle {

  }

/* Applied whenever the dropdown is open */
.dk_open {

  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
    color: #ccc;
  }

/* The outer container of the options */
.dk_options {

  border-radius: 0 0 5px 5px;

}
  .dk_options a {
    background-color: #fff;
    //border-bottom: 1px solid #999;
    //font-weight: bold;
    padding: 8px 10px;
  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  .dk_options a:hover,
  .dk_option_current a {
    background-color: $knc_white;
    border-bottom-color: $knc_marigold;
    color:$knc_marigold;
    text-decoration: none;

  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {

  color: #333;
  max-height: 250px;
  background-color: $knc_marigold;
  border-radius: 0 0 5px 5px;
  margin: 0 5px 0px 5px;

}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
